.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/hans-peter-gauster-3y1zF4hIPCg-unsplash.jpg")}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {margin: 326px auto 60px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 685px}
.u-section-2 .u-layout-wrap-1 {margin: 10px 0 10px auto}
.u-section-2 .u-image-1 {min-height: 685px; background-image: url("images/5ee6dc434c53b108f5d084609629317e113fdce15b4c704f752d7cdd9044cc5e_1280.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 0}
.u-section-2 .u-layout-cell-2 {min-height: 685px; background-image: none}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {font-size: 3.75rem; font-weight: 700; margin: 10px 0 0}
.u-section-2 .u-text-2 {background-image: none; margin: 20px 0 0}
.u-section-2 .u-text-3 {margin: 50px 0 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 565px}
.u-section-2 .u-sheet-1 {min-height: 565px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 565px}
.u-section-2 .u-layout-cell-2 {min-height: 587px} }

@media (max-width: 991px){ .u-section-2 {min-height: 433px}
.u-section-2 .u-sheet-1 {min-height: 433px}
.u-section-2 .u-image-1 {min-height: 433px}
.u-section-2 .u-layout-cell-2 {min-height: 433px}
.u-section-2 .u-text-1 {font-size: 3rem} }

@media (max-width: 767px){ .u-section-2 {min-height: 750px}
.u-section-2 .u-sheet-1 {min-height: 750px}
.u-section-2 .u-image-1 {min-height: 650px}
.u-section-2 .u-layout-cell-2 {min-height: 650px}
.u-section-2 .u-container-layout-2 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-2 {min-height: 509px}
.u-section-2 .u-sheet-1 {min-height: 509px}
.u-section-2 .u-image-1 {min-height: 409px}
.u-section-2 .u-layout-cell-2 {min-height: 409px} }.u-section-3 {min-height: 318px; background-image: none}
.u-section-3 .u-sheet-1 {min-height: 655px}
.u-section-3 .u-layout-wrap-1 {pointer-events: auto; margin: 10px auto 10px 0}
.u-section-3 .u-layout-cell-1 {min-height: 655px; pointer-events: auto}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 20px auto 0 0}
.u-section-3 .u-text-2 {background-image: none; margin: 20px auto 0 0}
.u-section-3 .u-text-3 {margin: 40px auto 0 0}
.u-section-3 .u-image-1 {min-height: 655px; pointer-events: auto; background-image: url("images/robert-ruggiero-X2bcQMMhaow-unsplash1.jpg"); background-position: 41.76% 51.8%; background-size: 160%}
.u-section-3 .u-container-layout-2 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 203px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 540px}
.u-section-3 .u-image-1 {min-height: 540px} }

@media (max-width: 991px){ .u-section-3 {min-height: 66px}
.u-section-3 .u-sheet-1 {min-height: 77px}
.u-section-3 .u-layout-cell-1 {min-height: 414px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-image-1 {min-height: 414px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-layout-cell-1 {min-height: 621px}
.u-section-3 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-3 .u-image-1 {min-height: 621px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-layout-cell-1 {min-height: 391px}
.u-section-3 .u-text-1 {font-size: 3rem}
.u-section-3 .u-image-1 {min-height: 391px} }.u-section-4 {min-height: 449px; background-image: none}
.u-section-4 .u-sheet-1 {min-height: 625px}
.u-section-4 .u-layout-wrap-1 {margin: 10px auto}
.u-section-4 .u-image-1 {min-height: 685px; background-image: url("images/mika-baumeister-aEKwSdX5pJU-unsplash.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding: 0}
.u-section-4 .u-layout-cell-2 {min-height: 685px; background-image: none}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-1 {font-size: 3.75rem; font-weight: 700; margin: 20px 0 0}
.u-section-4 .u-text-2 {background-image: none; margin: 60px 62px 0 0}
.u-section-4 .u-text-3 {margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-4 {min-height: 505px}
.u-section-4 .u-sheet-1 {min-height: 505px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 565px}
.u-section-4 .u-layout-cell-2 {min-height: 587px}
.u-section-4 .u-text-2 {margin-right: 0} }

@media (max-width: 991px){ .u-section-4 {min-height: 373px}
.u-section-4 .u-sheet-1 {min-height: 373px}
.u-section-4 .u-image-1 {min-height: 433px}
.u-section-4 .u-layout-cell-2 {min-height: 433px}
.u-section-4 .u-text-1 {font-size: 3rem} }

@media (max-width: 767px){ .u-section-4 {min-height: 690px}
.u-section-4 .u-sheet-1 {min-height: 690px}
.u-section-4 .u-image-1 {min-height: 650px}
.u-section-4 .u-layout-cell-2 {min-height: 650px}
.u-section-4 .u-container-layout-2 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-4 {min-height: 449px}
.u-section-4 .u-sheet-1 {min-height: 449px}
.u-section-4 .u-image-1 {min-height: 409px}
.u-section-4 .u-layout-cell-2 {min-height: 409px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 695px}
.u-section-5 .u-layout-wrap-1 {pointer-events: auto; margin: 40px 0 40px auto}
.u-section-5 .u-image-1 {min-height: 600px; pointer-events: auto; background-image: url("images/ross-sneddon-sWlDOWk0Jp8-unsplash.jpg"); background-position: 75.63% 50%}
.u-section-5 .u-container-layout-1 {padding: 30px 60px}
.u-section-5 .u-layout-cell-2 {min-height: 625px; pointer-events: auto}
.u-section-5 .u-container-layout-2 {padding: 30px 60px}
.u-section-5 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 42px 0 0}
.u-section-5 .u-text-2 {margin: 18px 0 0}
.u-section-5 .u-text-3 {font-size: 1.25rem; font-weight: 700; margin: 30px 277px 0 0}
.u-section-5 .u-icon-1 {font-size: 1.2em}
.u-section-5 .u-text-4 {font-size: 1.25rem; font-weight: 700; margin: 10px auto 0 0}
.u-section-5 .u-icon-2 {font-size: 1.2em}
.u-section-5 .u-text-5 {font-size: 1.25rem; font-weight: 700; margin: 10px auto 0 0}
.u-section-5 .u-icon-3 {font-size: 1.2em}
.u-section-5 .u-text-6 {font-size: 1.25rem; font-weight: 700; margin: 10px auto 0 0}
.u-section-5 .u-icon-4 {font-size: 1.2em}
.u-section-5 .u-text-7 {font-size: 1.25rem; font-weight: 700; margin: 10px auto 0 0}
.u-section-5 .u-icon-5 {font-size: 1.2em}
.u-section-5 .u-text-8 {font-size: 1.25rem; font-weight: 700; margin: 10px auto 0 0}
.u-section-5 .u-icon-6 {font-size: 1.2em} 

@media (max-width: 1199px){ .u-section-5 {min-height: 318px}
.u-section-5 .u-sheet-1 {min-height: 203px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 495px}
.u-section-5 .u-layout-cell-2 {min-height: 515px}
.u-section-5 .u-text-3 {margin-right: 177px} }

@media (max-width: 991px){ .u-section-5 {min-height: 66px}
.u-section-5 .u-sheet-1 {min-height: 77px}
.u-section-5 .u-image-1 {min-height: 379px}
.u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-layout-cell-2 {min-height: 394px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-text-3 {margin-right: 127px} }

@media (max-width: 767px){ .u-section-5 .u-image-1 {min-height: 569px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-2 {min-height: 591px}
.u-section-5 .u-container-layout-2 {padding-left: 50px; padding-right: 50px} }

@media (max-width: 575px){ .u-section-5 .u-image-1 {min-height: 358px}
.u-section-5 .u-layout-cell-2 {min-height: 372px}
.u-section-5 .u-text-1 {font-size: 3rem}
.u-section-5 .u-text-3 {margin-right: 0} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 642px}
.u-section-6 .u-icon-1 {height: 64px; width: 64px; margin: 50px auto 0}
.u-section-6 .u-text-1 {margin: 20px auto 0}
.u-section-6 .u-text-2 {margin: 20px auto 0}
.u-section-6 .u-list-1 {min-height: 285px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; height: auto; margin: 30px auto 60px 0}
.u-section-6 .u-list-item-1 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-3 {background-image: none; margin: 0}
.u-section-6 .u-text-4 {margin: 20px auto 0 0}
.u-section-6 .u-text-5 {margin-left: auto; margin-right: 20px; font-weight: 700; background-image: none; margin-bottom: 10px}
.u-section-6 .u-list-item-2 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-text-6 {background-image: none; margin: 0}
.u-section-6 .u-text-7 {margin: 20px auto 0 0}
.u-section-6 .u-text-8 {margin-left: auto; margin-right: 20px; font-weight: 700; background-image: none; margin-bottom: 10px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 592px}
.u-section-6 .u-list-1 {min-height: 235px; grid-template-columns: calc(((100% - 940px) / 2) + 465px) calc(((100% - 940px) / 2) + 465px); margin-right: initial; margin-left: initial}
.u-section-6 .u-list-item-1 {height: 388px}
.u-section-6 .u-text-5 {margin-right: 16px}
.u-section-6 .u-list-item-2 {height: 388px}
.u-section-6 .u-text-8 {margin-right: 16px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 801px}
.u-section-6 .u-list-1 {grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px); margin-right: initial; margin-left: initial}
.u-section-6 .u-text-5 {margin-right: 12px}
.u-section-6 .u-text-8 {margin-right: 12px} }

@media (max-width: 767px){ .u-section-6 .u-list-1 {grid-template-columns: calc(((100% - 540px) / 2) + 265px) calc(((100% - 540px) / 2) + 265px); margin-right: initial; margin-left: initial}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-5 {margin-right: 9px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-8 {margin-right: 9px} }

@media (max-width: 575px){ .u-section-6 .u-text-2 {margin-left: 20px}
.u-section-6 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-5 {margin-right: 6px}
.u-section-6 .u-text-8 {margin-right: 6px} }.u-section-7 {background-image: none}
.u-section-7 .u-sheet-1 {min-height: 646px}
.u-section-7 .u-icon-1 {height: 64px; width: 64px; margin: 50px auto 0}
.u-section-7 .u-text-1 {margin: 20px auto 0}
.u-section-7 .u-text-2 {margin: 20px auto 0}
.u-section-7 .u-list-1 {min-height: 340px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; height: auto; margin: 29px auto 60px 0}
.u-section-7 .u-list-item-1 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-text-3 {margin: 0}
.u-section-7 .u-text-4 {margin: 20px 0 0 auto}
.u-section-7 .u-text-5 {font-weight: 700; margin: 27px 20px 0 auto}
.u-section-7 .u-list-item-2 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-text-6 {margin: 0}
.u-section-7 .u-text-7 {margin: 20px 0 0 auto}
.u-section-7 .u-text-8 {font-weight: 700; margin: 27px 20px 0 auto} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 586px}
.u-section-7 .u-list-1 {min-height: 280px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 465px)); margin-right: initial; margin-left: initial}
.u-section-7 .u-list-item-1 {height: 388px}
.u-section-7 .u-text-5 {margin-right: 0}
.u-section-7 .u-list-item-2 {height: 388px}
.u-section-7 .u-text-8 {margin-right: 0} }

@media (max-width: 991px){ .u-section-7 .u-sheet-1 {min-height: 801px}
.u-section-7 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-7 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 647px}
.u-section-8 .u-icon-1 {height: 64px; width: 64px; margin: 50px auto 0}
.u-section-8 .u-text-1 {margin: 20px auto 0}
.u-section-8 .u-text-2 {margin: 20px auto 0}
.u-section-8 .u-list-1 {min-height: 341px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; height: auto; margin: 29px auto 60px 0}
.u-section-8 .u-list-item-1 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-8 .u-container-layout-1 {padding: 30px}
.u-section-8 .u-text-3 {margin: 0}
.u-section-8 .u-text-4 {margin: 20px auto 0 0}
.u-section-8 .u-text-5 {margin-left: auto; margin-right: 20px; font-weight: 700}
.u-section-8 .u-list-item-2 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-8 .u-container-layout-2 {padding: 30px}
.u-section-8 .u-text-6 {margin: 0}
.u-section-8 .u-text-7 {margin: 20px auto 0 0}
.u-section-8 .u-text-8 {margin-left: auto; margin-right: 20px; font-weight: 700} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 587px}
.u-section-8 .u-list-1 {min-height: 281px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 465px)); margin-right: initial; margin-left: initial}
.u-section-8 .u-list-item-1 {height: 388px}
.u-section-8 .u-text-5 {margin-right: 16px}
.u-section-8 .u-list-item-2 {height: 388px}
.u-section-8 .u-text-8 {margin-right: 16px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 801px}
.u-section-8 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial}
.u-section-8 .u-text-5 {margin-right: 12px}
.u-section-8 .u-text-8 {margin-right: 12px} }

@media (max-width: 767px){ .u-section-8 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-text-5 {margin-right: 9px}
.u-section-8 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-8 .u-text-8 {margin-right: 9px} }

@media (max-width: 575px){ .u-section-8 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-8 .u-text-5 {margin-right: 6px}
.u-section-8 .u-text-8 {margin-right: 6px} }.u-section-9 {background-image: none}
.u-section-9 .u-sheet-1 {min-height: 665px}
.u-section-9 .u-icon-1 {height: 64px; width: 64px; margin: 50px auto 0}
.u-section-9 .u-text-1 {margin: 20px auto 0}
.u-section-9 .u-text-2 {margin: 20px auto 0}
.u-section-9 .u-list-1 {min-height: 328px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; height: auto; margin: 30px auto 60px 0}
.u-section-9 .u-list-item-1 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-9 .u-container-layout-1 {padding: 30px}
.u-section-9 .u-text-3 {margin: 0}
.u-section-9 .u-text-4 {margin: 20px 0 0 auto}
.u-section-9 .u-text-5 {margin-left: auto; margin-right: 20px; font-weight: 700}
.u-section-9 .u-list-item-2 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-9 .u-container-layout-2 {padding: 30px}
.u-section-9 .u-text-6 {margin: 0}
.u-section-9 .u-text-7 {margin: 20px 0 0 auto}
.u-section-9 .u-text-8 {margin-left: auto; margin-right: 20px; font-weight: 700} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 607px}
.u-section-9 .u-list-1 {min-height: 270px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 465px)); margin-right: initial; margin-left: initial}
.u-section-9 .u-list-item-1 {height: 388px}
.u-section-9 .u-text-5 {margin-right: 16px}
.u-section-9 .u-list-item-2 {height: 388px}
.u-section-9 .u-text-8 {margin-right: 16px} }

@media (max-width: 991px){ .u-section-9 .u-sheet-1 {min-height: 801px}
.u-section-9 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial}
.u-section-9 .u-text-5 {margin-right: 12px}
.u-section-9 .u-text-8 {margin-right: 12px} }

@media (max-width: 767px){ .u-section-9 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-5 {margin-right: 9px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-text-8 {margin-right: 9px} }

@media (max-width: 575px){ .u-section-9 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-9 .u-text-5 {margin-right: 6px}
.u-section-9 .u-text-8 {margin-right: 6px} }.u-section-10 {background-image: none}
.u-section-10 .u-sheet-1 {min-height: 642px}
.u-section-10 .u-icon-1 {height: 64px; width: 64px; margin: 50px auto 0}
.u-section-10 .u-text-1 {margin: 20px auto 0}
.u-section-10 .u-text-2 {margin: 20px auto 0}
.u-section-10 .u-list-1 {min-height: 305px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; height: auto; margin: 30px auto 60px 0}
.u-section-10 .u-list-item-1 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-10 .u-container-layout-1 {padding: 30px}
.u-section-10 .u-text-3 {margin: 0}
.u-section-10 .u-text-4 {margin: 20px 0 0 auto}
.u-section-10 .u-text-5 {font-weight: 700; margin: 20px 20px 0 auto}
.u-section-10 .u-list-item-2 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-10 .u-container-layout-2 {padding: 30px}
.u-section-10 .u-text-6 {margin: 0}
.u-section-10 .u-text-7 {margin: 20px 0 0 auto}
.u-section-10 .u-text-8 {font-weight: 700; margin: 20px 20px 0 auto} 

@media (max-width: 1199px){ .u-section-10 .u-sheet-1 {min-height: 588px}
.u-section-10 .u-list-1 {min-height: 251px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 465px)); margin-right: initial; margin-left: initial}
.u-section-10 .u-list-item-1 {height: 388px}
.u-section-10 .u-text-5 {margin-right: 16px}
.u-section-10 .u-list-item-2 {height: 388px}
.u-section-10 .u-text-8 {margin-right: 16px} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 801px}
.u-section-10 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial}
.u-section-10 .u-text-5 {margin-right: 12px}
.u-section-10 .u-text-8 {margin-right: 12px} }

@media (max-width: 767px){ .u-section-10 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-text-5 {margin-right: 9px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-text-8 {margin-right: 9px} }

@media (max-width: 575px){ .u-section-10 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-10 .u-text-5 {margin-right: 6px}
.u-section-10 .u-text-8 {margin-right: 6px} }.u-section-11 {background-image: none}
.u-section-11 .u-sheet-1 {min-height: 642px}
.u-section-11 .u-icon-1 {height: 64px; width: 64px; margin: 50px auto 0}
.u-section-11 .u-text-1 {margin: 18px auto 0}
.u-section-11 .u-text-2 {margin: 20px auto 0}
.u-section-11 .u-list-1 {min-height: 306px; grid-template-columns: calc(((100% - 1140px) / 2) + 565px) calc(((100% - 1140px) / 2) + 565px); grid-gap: 10px 10px; height: auto; margin: 29px auto 60px 0}
.u-section-11 .u-list-item-1 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-11 .u-container-layout-1 {padding: 30px}
.u-section-11 .u-text-3 {margin: 0}
.u-section-11 .u-text-4 {margin: 20px auto 0 0}
.u-section-11 .u-text-5 {margin-left: auto; margin-right: 20px; font-weight: 700}
.u-section-11 .u-list-item-2 {background-image: none; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4)}
.u-section-11 .u-container-layout-2 {padding: 30px}
.u-section-11 .u-text-6 {margin: 0}
.u-section-11 .u-text-7 {margin: 20px auto 0 0}
.u-section-11 .u-text-8 {margin-left: auto; margin-right: 20px; font-weight: 700} 

@media (max-width: 1199px){ .u-section-11 .u-sheet-1 {min-height: 588px}
.u-section-11 .u-list-1 {min-height: 252px; grid-template-columns: repeat(2, calc(((100% - 940px) / 2)  + 465px)); margin-right: initial; margin-left: initial}
.u-section-11 .u-list-item-1 {height: 388px}
.u-section-11 .u-text-5 {margin-right: 16px}
.u-section-11 .u-list-item-2 {height: 388px}
.u-section-11 .u-text-8 {margin-right: 16px} }

@media (max-width: 991px){ .u-section-11 .u-sheet-1 {min-height: 801px}
.u-section-11 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial}
.u-section-11 .u-text-5 {margin-right: 12px}
.u-section-11 .u-text-8 {margin-right: 12px} }

@media (max-width: 767px){ .u-section-11 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); margin-right: initial; margin-left: initial}
.u-section-11 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-text-5 {margin-right: 9px}
.u-section-11 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-11 .u-text-8 {margin-right: 9px} }

@media (max-width: 575px){ .u-section-11 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-11 .u-text-5 {margin-right: 6px}
.u-section-11 .u-text-8 {margin-right: 6px} }.u-section-12 {background-image: none}
.u-section-12 .u-sheet-1 {min-height: 500px}
.u-section-12 .u-layout-wrap-1 {margin: 10px 0 0 auto}
.u-section-12 .u-image-1 {min-height: 500px; background-image: url("images/57e1dc414c54ae14f6da8c7dda793678153bdee757596c48732f78d1904ec251b9_1280.jpg"); background-position: 50% 50%}
.u-section-12 .u-container-layout-1 {padding: 0}
.u-section-12 .u-layout-cell-2 {min-height: 500px; background-image: none}
.u-section-12 .u-container-layout-2 {padding: 30px}
.u-section-12 .u-text-1 {font-style: italic; margin: 0 61px 0 0} 

@media (max-width: 1199px){ .u-section-12 {min-height: 565px}
.u-section-12 .u-sheet-1 {min-height: 380px}
.u-section-12 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-12 .u-image-1 {min-height: 412px}
.u-section-12 .u-layout-cell-2 {min-height: 587px}
.u-section-12 .u-text-1 {margin-right: 0} }

@media (max-width: 991px){ .u-section-12 {min-height: 433px}
.u-section-12 .u-sheet-1 {min-height: 248px}
.u-section-12 .u-image-1 {min-height: 316px}
.u-section-12 .u-layout-cell-2 {min-height: 433px} }

@media (max-width: 767px){ .u-section-12 {min-height: 750px}
.u-section-12 .u-sheet-1 {min-height: 565px}
.u-section-12 .u-image-1 {min-height: 474px}
.u-section-12 .u-layout-cell-2 {min-height: 650px}
.u-section-12 .u-container-layout-2 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-12 {min-height: 509px}
.u-section-12 .u-sheet-1 {min-height: 324px}
.u-section-12 .u-image-1 {min-height: 298px}
.u-section-12 .u-layout-cell-2 {min-height: 409px} }.u-section-13 {background-image: none}
.u-section-13 .u-sheet-1 {min-height: 663px}
.u-section-13 .u-icon-1 {height: 64px; width: 64px; margin: 60px auto 0}
.u-section-13 .u-text-1 {width: 680px; font-size: 3.75rem; font-weight: 700; margin: 20px auto 0}
.u-section-13 .u-text-2 {width: 550px; line-height: 24px; margin: 30px auto 0}
.u-section-13 .u-form-1 {height: 353px; width: 570px; margin: 30px auto 60px}
.u-section-13 .u-form-group-1 {width: 100%}
.u-section-13 .u-form-group-2 {width: 100%}
.u-section-13 .u-form-group-3 {width: 100%}
.u-section-13 .u-form-group-4 {width: 100%}
.u-section-13 .u-form-group-5 {width: 100%} 

@media (max-width: 991px){ .u-section-13 .u-sheet-1 {min-height: 260px} }

@media (max-width: 767px){ .u-section-13 .u-sheet-1 {min-height: 663px}
.u-section-13 .u-text-1 {width: 540px}
.u-section-13 .u-text-2 {width: 540px}
.u-section-13 .u-form-1 {width: 540px} }

@media (max-width: 575px){ .u-section-13 .u-text-1 {width: 340px; font-size: 3rem}
.u-section-13 .u-text-2 {width: 340px}
.u-section-13 .u-form-1 {width: 340px} }